<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">年間制作のサイト</h1>
        <p>
          {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:logout' %}" class="btn btn-secondary my-2">ログアウト</a></li>
          {% else %}
        <li><a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">
            今すぐサインアップ
          </a></li>
        <li><a href="{% url 'accounts:login' %}" class="btn btn-secondary my-2">登録済みのかたはログイン</a></li>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
  